{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'stock/list.css' %}">{% endblock style %}
{% block title %}Basket{% endblock title %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>State</th>
            <th>Category</th>
            <th>Date of stock</th>
            <th>Warehouse</th>
            <th>Remove from the order</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}                
                <tr>
                    <td>{{ item.state }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.date_of_stock.date }}</td>
                    <td>Warehouse No: {{ item.warehouse.id }}</td>
                    <td><form action="{% url 'stock:remove-from-cart' item.id %}" method='POST'>
                        {% csrf_token %}
                        <button type="submit">Remove from cart</button>
                    </form></td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}





{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item name</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stock/list.css' %}">
</head>
<body>
    <a href="{% url 'stock:list-items' %}" class="back-button">Go back</a>
    <a href="{% url 'stock:cart' %}" class="back-button">Place the order</a>

    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Category</th>
                <th>Date of stock</th>
                <th>Warehouse</th>
                <th>Remove from the order</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}                
                    <tr>
                        <td>{{ item.state }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.date_of_stock.date }}</td>
                        <td>Warehouse No: {{ item.warehouse.id }}</td>
                        <td><form action="{% url 'stock:remove-from-cart' item.id %}" method='POST'>
                            {% csrf_token %}
                            <button type="submit">Remove from cart</button>
                        </form></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html> {% endcomment %}